@media screen and (max-width:576px){
.container{
    max-width: 100%;
}
*{
    box-sizing: border-box;
    overflow-x: hidden;
}
header,
#footer,
#choose,
#tour,
#gallery,
#discount,
.video,
.main-deal,
.blog-img{
    padding: 20px 16px;
    max-width: 100%;
}
   ul > li a{
    display: none;
   }
   .nav-title,
   .h2-tag,
   .h22-tag{
    font-size: 1rem;
   }
   .banner-box{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
   }
   .banner-p {
    padding-top: 10px;
}
.travel-head{
font-size: 1rem;
padding-top: 30px;
}
.banner-box{
    width: 300px;
    margin: 0 auto;
}
.choose-main1{
    padding-top: 20px !important;
    display: flex;
    justify-content:flex-start ;
    align-content: flex-start !important;
    margin-right: 58px;
}
.main-deal{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
}
.main-banner{
   width: 100%;
    background-size: contain;
}
.tour-main,
.choose-main,
.gallery-item2,
.gallery-item{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
}
.tour-text{
    max-width: 330px;
    padding: 0 20px;
}

.tour-img img{
    width: 100%;
    height: auto;
}
iframe{
    width: 100%;
}

.btn-primary1 {
    padding: 12px 85px;
   margin: 0 auto;
}
.over{
    height: 80px ;
    width: 60%;
    bottom: 140px;
    left: 115px;
}
.deal-one{
   width: 100%;
   height: 540px;
}
.deal-overlay,
.deal-overlay1{
    top: 30px;
    left: 5%;
    height: 430px;
    width: 90%;
}
.blog-post{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.blog-img img {
  width: 100%;
}
.blog-h1{
    font-size: 1rem;
}
.blog-text h3{
    font-size: 13px;
}
.blog-text{
    max-width: 300px;
    padding: 0 10px;
    margin-top: -57px;
}
.img1 img{
    width: 100%;
}
.gallery-main{
    width: 100%;
}
.canter {
   text-align: center;
}
.img6{
    width: 100%;
    height: auto;
}  
.news-main,
.gallery-item3{
    display: flex;
  flex-wrap: wrap;
    
}
.grid{
    display: grid;
    justify-content: center;
   }
    .grid_col_6{
      grid-column: span 12;
    }
    .grid_col_12{
      grid-column: span 12;
    }
    .cols{
        width: 100%
    }
    
iframe{
    width: 100%;
}

.over{
    height: 80px ;
    width: 60%;
    bottom: 140px;
    left: 115px;
}
.choose-main1{
    padding-top: 20px !important;
    display: flex;
    justify-content:flex-start ;
    align-content: flex-start !important;
    margin-right: 58px;
}
.main-deal{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
}
.main-banner{
   width: 100%;
    background-size: contain;
}
.tour-main,
.choose-main,
.gallery-item2,
.gallery-item{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
}
}

@media screen and (min-width:576px) and (max-width:960px){
    .container{
        max-width: 100%;
    }
    *{
        box-sizing: border-box;
        overflow-x: hidden;
    }
    header,
    #footer,
    #choose,
    #tour,
    #gallery,
    #discount,
    .video{
        padding: 20px 16px;
        max-width: 100%;
    }
    .news-main,
    .gallery-item3,
    .blog-post{
    display: flex;
    justify-content: space-between;
    
}
.grid{
    display: grid;
    justify-content: center;
   }
    .grid_col_6{
      grid-column: span 6;
    }
    .grid_col_12{
      grid-column: span 12;
    }
    .cols{
        width: 100%
    }
    .deal-one{
        width: 100%;
        height: 540px;
     }
     .deal-overlay,
     .deal-overlay1{
         top: 30px;
         left: 5%;
         height: 430px;
         width: 90%;
     }
     
     .banner-box{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
       }
       .blog-text{
        max-width: 500px;
        padding: 0 10px;
        margin-top: -57px;
    }
    .icon{
        display: none;
      }
}


@media screen and (min-width:1100px) and (max-width:1400px){

  .icon{
    display: none;
  }
}